@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
#juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 220vh;
    font-family: 'Righteous', cursive;
}

#by{
    color: black;
    font-size: 12px;
}
#encabezado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: antiquewhite;
    font-size: 30px;
    width: -webkit-fill-available;
}
.title{
    color: white;
    height: 50px;
    width: auto;
    font-size: 60px;
}
#homenaje{
    display: flex;
    font-size: 14px;
    color: #fdd8356e;
}
#seleccionar-personaje{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #FFED00;
    gap: 10px;
}
#seleccionar-personaje img{
    width: 100px;
    height: 100px;
}
.select{
    display: flex;
    flex-direction: column;
    
}
.select-jugador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 250px;
    height: 140px;
    padding: 5px;
    border: 1px solid blue;
    margin: 10px;
    background-image: url(./images/bgplayer.jpeg);
    border-radius: 15px;    
}

.select-jugador:hover{
    background-image: url(./images/bg2player.jpeg);
    cursor: pointer;
    transition: 0.4s;
}
.select-jugador:checked{
    background-image: url(./images/bg2player.jpeg);
}

#ataques{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #ffffff;
}

#div-botones{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.form{
    display: flex;
    flex-flow: column wrap;

}
#personaje-select{
    display: flex;
    color: #ff000f;
    font-size: large;
}
#personaje{
    display: flex;
    color: #ffffff;
    font-size: large;
    justify-content: flex-end;
}
#enemigo-select{
    display: flex;
    color: #ff000f;
    font-size: large;
}
#personaje-enemigo{
    display: flex;
    color: #ffffff;
    font-size: large;
    justify-content: flex-end;
}

.botones{
    display: flex;
    flex-direction: column;
    height: 64px;
    width: 182px;
    margin: 10px;
    border: 2px solid #ffed00;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: larger;
    font-family: 'Righteous', cursive;
    border-radius: 15px;
    color: white;

}
.botones:hover{
    background-color:gold;
}
#texto-personajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffc311;
}
#reiniciar-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    display: none;
}