#by{
    color: aliceblue;
}
#homenaje{
font-size: larger;
color: azure;
}

#juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;

}
#encabezado{
    display: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    color: #ff0055;
    height: 63px;
    width: 313px;
    background-color: aqua;
    font-size: -webkit-xxx-large;
    font-style: ;
}
#seleccionar-personaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
#ataques{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    font-weight: bolder;
}
#botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    font-weight: bolder;

}
#texto-personajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
#reiniciar-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
#reinicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: black;
    height: 50px;
    width: 243px;
    font-size: large;
}