@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');
#juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 220vh;
    font-family: 'Permanent Marker', cursive;
    background-attachment: fixed;
}
.title{
    color: white;
    height: 50px;
    width: auto;
    font-size: 60px;
}
#encabezado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: antiquewhite;
    font-size: 30px;
    width: -webkit-fill-available;
}
#by{
    color: black;
    font-size: 12px;
}

#homenaje{
    display: flex;
    font-size: 14px;
    color: #fdd8356e;
}
#seleccionar-personaje{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #FFED00;
    gap: 10px;
}
#seleccionar-personaje img{
    width: 100px;
    height: 100px;
}
.select-jugador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 250px;
    height: 140px;
    padding: 5px;
    border: 1px solid blue;
    margin: 10px;
    background-image: url(./images/bgplayer.jpeg);
    border-radius: 15px;    
}

.select-jugador:hover{
    background-image: url(./images/bg2player.jpeg);
    cursor: pointer;
    transition: 0.2s;
    color: #ff00c3;
}
input:checked + label{
    background-image: url(./images/bg2player.jpeg);
    cursor: pointer;
    color: #ff00c3;
}

#ataques{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #ffffff;
}

#div-botones{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
#personaje-select{
    display: flex;
    color: #ffffff;
    font-size: large;
    width: 300px;
    justify-content: space-around;
    margin: 5px;
}
#personaje{
    display: flex;
    color: #2fd511;
    font-size: large;
    justify-content: flex-end;
}
#enemigo-select{
    display: flex;
    color: #ffffff;
    font-size: large;
    width: 280px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
#personaje-enemigo{
    display: flex;
    color: #2fd511;
    font-size: large;
    justify-content: flex-end;
}

.botones{
    display: flex;
    flex-direction: column;
    height: 64px;
    width: 182px;
    margin: 10px;
    border: 2px solid #1f35b1;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: larger;
    font-family: 'Righteous', cursive;
    border-radius: 15px;
    color: white;


}
.botones:hover{
    background-color:rgb(16, 197, 3);
    cursor: pointer;
    color: #ff00c3;

}
#texto-personajes{
    display: flex;
    width: 450px;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    color: aliceblue;
    background-color: #1f35b1d4;
    font-size: 20px;
    border-radius: 20px;
}
#resultado{
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: center;
    color: #57b1ff;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
}
#notif-ataques{
    display: grid;
    grid-template-columns: 300px 300px;
    color: aliceblue;
}
.pv{
    display: flex;
    color: aliceblue;
    justify-content: space-evenly;
}


#ataque-jugador{
    display: flex;
  flex-flow: column-reverse;  
  color:aliceblue;
  align-items: center;
    
}
#ataque-enemigo{
    display: flex;
    flex-flow: column-reverse;  
    color:aliceblue;
    align-items: center;

}
#reiniciar-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reinicio {
    display: flex;
    flex-direction: column;
    height: 64px;
    width: 182px;
    margin: 10px;
    border: 2px solid #3ad606;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 15px;
    font-family: 'Righteous', cursive;
    border-radius: 15px;
    color: white;
}
#reinicio:hover{
    background-color:rgb(16, 197, 3);
    cursor: pointer;
    color: #ff00c3;
}
input{
    display: none;
}


@media (max-width: 360px){
    .title {
        color: white;
        height: 50px;
        width: auto;
        font-size: 40px;
    }
    #seleccionar-personaje{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFED00;
        gap: 10px;
    }
    
    #encabezado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: antiquewhite;
        font-size: 16px;
    }
    #personaje-select {
        display: flex;
        color: #ffffff;
        font-size: 15px;
        width: 280px;
        justify-content: space-around;
        margin: 5px;
    }
    #personaje {
        display: flex;
        color: #2fd511;
        font-size: 15px;
    }
    #enemigo-select {
        display: flex;
        color: #ffffff;
        font-size: 15px;
        width: 280px;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
    }

    #personaje-enemigo {
        display: flex;
        color: #2fd511;
        font-size: 15px;
    }
    #div-botones{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    #texto-personajes{
        display: flex;
        width: 230px;
        margin: 10px;
        padding: 10px;
        justify-content: space-evenly;
        color: aliceblue;
        background-color: #1f35b1d4;
        font-size: 20px;
        border-radius: 20px;
    }
    #resultado{
        display: flex;
        margin: 5px;
        padding: 10px;
        justify-content: center;
        color: #57b1ff;
        font-size: 20px;
        align-items: center;
        flex-direction: column;
    }
    #notif-ataques{
        display: grid;
        grid-template-columns: 150px 150px;
        /* justify-content: space-between; */
        color: aliceblue;
    }

    #ataque-jugador{
        display: flex;
        flex-flow: column-reverse;
        color: aliceblue;
        align-items: center;
        font-size: 13px;
        margin: 3px;
        
    }
    #ataque-enemigo{
        display: flex;
        flex-flow: column-reverse;
        color: aliceblue;
        align-items: center;
        font-size: 13px;
        margin: 3px;
    
    }
    #reinicio {
    display: flex;
    flex-direction: column;
    height: 45px;
    width: 125px;
    margin: 10px;
    border: 2px solid #3ad606;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 15px;
    font-family: 'Righteous', cursive;
    border-radius: 15px;
    color: white;
}
}